<manifest 
android:versionName="2.9.0-1.v1" android:versionCode="1" package="net.virtualvoid.android.scalainstaller" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10"></uses-sdk>
    <application android:icon="@drawable/android:star_big_on" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".ScalaInstallerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
    </application>
</manifest>
